<!DOCTYPE html>

<body class = "navbar-container">
    <a href="/home">
        <button>Home</button> 
    </a>
    <a href="/foodLogger">
        <button>Food Logger</button>
    </a>
    <a href="/nutritional">
        <button>Food Nutritions</button>
    </a>
    <a href="/search">
        <button>Search Recipe</button>
    </a>
    <a href="/logout">
        <button>Logout</button>
    </a>
</body>
</html>