<!DOCTYPE html>

<body class = "navbar-container">
    <button class = "navbar-container">Home</button> 
    <button class = "navbar-container">Food Logger</button>
    <button class = "navbar-container">Overview of Today</button>
    <button class = "navbar-container">Search Recipe</button>
</body>
</html>