<!DOCTYPE html>

<body class = "navbar-container">
    <a href="/home">
        <button class = "navbar-container">Home</button> 
    </a>
    <a href="/foodLogger">
        <button class = "navbar-container">Food Logger</button>
    </a>
    <a href="/nutritional">
        <button class = "navbar-container">Food Nutritions</button>
    </a>
    <a href="/search">
        <button class = "navbar-container">Search Recipe</button>
    </a>
    <a href="/logout">
        <button class = "navbar-container">Logout</button>
    </a>
    
    
    

</body>
</html>