<!DOCTYPE html>

<body class = "navbar-container">
    <a href="/" class = "navbar-container">Home</a> 
    <a href="/logger" class = "navbar-container">Food Logger</a> 
    <a href="/overview" class = "navbar-container">Overview of Today</a> 
    <a href="/search" class = "navbar-container">Search Recipe</a> 
</body>
</html>