<!DOCTYPE html>

<body class = "navbar-container">
    <a href="/home">
        <button class = "navbar-container">Home</button> 
    </a>
    <a href="/foodLogger">
        <button class = "navbar-container">Food Logger</button>
    </a>
    <a href="/overview">
        <button class = "navbar-container">Overview of Today</button>
    </a>
    <a href="/search">
        <button class = "navbar-container">Search Recipe</button>
    </a>
    
    
    

</body>
</html>