<!DOCTYPE html>
<html lang="en">
    <%- include('partials/header.ejs')%> <br>
    <%- include('partials/title.ejs')%> 
    <%- include('partials/navbar.ejs')%> 
<body>
    <h1>Statistics for Today</h1>
    
</body>
</html>