<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- search by ingredients -->
    <input id="recipeSearch" type="text">
    <input id="submit" type="submit" value="Search">

    <div id="results"></div>

    <script src="js/script.js"></script>
</body>
</html>