<!DOCTYPE html>
<html lang="en">
    <%- include('partials/header.ejs')%>
    <%- include('partials/title.ejs')%>
<body>
    <form method="POST" action="/signUp">
        <h2>Sign Up to Plan Your Meals Today!</h2>
        <div class="name-fields">
            <input class = "textbox" type="text"id= "firstname_input" name = "firstname" placeholder="First Name" required>
            <input class = "textbox" type="text"id= "lastname_input" name = "lastname" placeholder="Last Name" required> 
          
            
        </div>
        <div><input class = "textbox" type="text"id= "username_input" name = "username" placeholder="Username" required><br><div></div>
        </div>
            
            <input class = "textbox" type="password" id= "password_input" name = "password" placeholder="Password" required> <br>
            <input class = "textbox" type="password" id= "password_confirmation_input" name = "password_confirmation" placeholder="Confirm Your Password" required> <br>

            <input class = "button " type="submit" value="Sign Up"> <br> <br>


            <%- include('partials/header.ejs')%>
            
        </div>
    </form>

    <a href="/">
        <button class = "button" type="submit">Already have an account? Sign in</button>
    </a><br>
    <% if(typeof(error) != "undefined") { %>
        <%= error %>
    <% } %>
    
</body>
</html>