<!DOCTYPE html>
<html lang="en">
    <%- include('partials/header.ejs')%>
    <%- include('partials/title.ejs')%>
<body>
    <form>
        <h2>Sign Up to Plan Your Meals Today!</h2>
        <div class="name-fields">
            <input class = "textbox" type="text"id= "firstname_input" name = "firstname" placeholder="First">
            <input class = "textbox" type="text"id= "lastname_input" name = "lastname" placeholder="Last"> 
        </div>
        <br>
        
            <div><input class = "textbox" type="text"id= "email_input" name = "email" placeholder="Email"><br><div>
                <br>

            <input class = "textbox" type="text" id= "password_input" name = "password" placeholder="Password"> <br>
            <br>
            <input class = "textbox" type="text" id= "password_confirmation_input" name = "password_confirmation" placeholder="Confirm Your Password"> <br><br>
            <input class = "button " type="submit" value="Sign Up"> <br> <br>

            <input class = "button" type="submit" value = "Already have an account? Sign in">

            <%- include('partials/header.ejs')%>
        </div>
    </form>
    
</body>
</html>