<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <form>
        <div class="signup-container">
            <label for="username">Username</label>
            <div><input type="text"id= "firstname_input" name = "firstname"><br><br></div>
            <div><input type="text"id= "lastname_input" name = "lastname"><br><br></div>
            <input type="text"id= "email_input" name = "email"><br><br>

            <label for="password">Password</label>
            <input type="text" id= "password_input" name = "password">
            <input type="text" id= "password_confirmation_input" name = "password_confirmation">
            <input type="submit" value="Sign Up">
        </div>
    </form>
    
</body>
</html>